@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html{
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

.mainimg{
    position: relative;
    width: 310px;
    height: 310px;
}

.mainimg img{
    width: 310px;
    opacity: 1;
    /* transition: 1s ease; */
}

.mainimg:hover .middle{
    opacity: 1;
    transition: 0.5s ease;
}

.mainimg .middle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    /* background: rgba(0, 255, 247, 0.3); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.mainimg .middle img{
    width: 50px;
}

.mainimg .imgop{
    position: absolute;
    background-color: hsl(178, 100%, 50%);
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.mainimg:hover .imgop{
    opacity: 0.5;
    transition: 0.5s ease;
}

.mainimg{
    margin-bottom: 20px;
}

.text{
    margin-bottom: 15px;
}

.text p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6rem;
    color: hsl(215, 51%, 70%);
}

.text h2{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}

.priceandtime{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.day{
    display: flex;
    align-items: center;
    font-weight: 400;
    color: hsl(215, 51%, 70%);
}

.day img{
    margin-right: 5px;
}

.eth{
    display: flex;
    align-items: center;
    font-weight: 600;
    color:hsl(178, 100%, 50%);
}

.eth img{
    margin-right: 5px;
}

.creator{
    padding-top: 15px;
    display: flex;
    align-items: center;
    border: solid hsl(215, 51%, 70%);
    border-width: 0.1px 0px 0px 0px;
}

.imgback{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 15px;
}

.creator img{
    width: 30px;
}

.creator p .creationof{
    color:hsl(215, 51%, 70%);
}

a{
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: hsl(178, 100%, 50%);
}